@if (os === 'ios') {
	<input
		class="input"
		[value]="value"
		(input)="onInputTextarea($event)"
	/>
} @else {
	<div
		class="input"
		[class.input_error]="error !== ''"
		(click)="onClickInput($event)"
	>{{ value }}</div>
}

@if (modal.visible) {
	<div
		[style.left.px]="modal.x"
		[style.top.px]="modal.y"
		[style.width.px]="modal.w"
		[style.height.px]="modal.h"
		class="modal"
	>
		<div class="info">
			<div class="title">{{ title }}</div>
			@if (error !== '') { <div class="rule">{{ error }}</div> }
		</div>
		<textarea
			#textarea
			class="textarea"
			[style.height]="textareaHeight"
			autofocus="true"
			(input)="onInputTextarea($event)"
		>{{ value }}</textarea>
	</div>
}