<!-- @if (os === 'ios') {
	<textarea
		class="input input_textarea"
		[class.input_error]="error !== ''"
		(input)="onInputTextarea($event)"
		rows="1"
	>{{ value }}</textarea>
	<div
		class="input-right"
		[class.input_error]="error !== ''"
	></div>
} @else { -->
	<div
		class="input"
		[class.input_error]="error !== ''"
		(click)="onClickInput($event)"
	>{{ value }}</div>
<!-- } -->

@if (modal.visible) {
	<div
		[style.left.px]="modal.x"
		[style.top.px]="modal.y"
		[style.width.px]="modal.w"
		[style.height.px]="modal.h"
		class="modal"
	>
		<div class="info">
			<div class="title">{{ title }}</div>
			@if (error !== '') { <div class="rule">{{ error }}</div> }
		</div>
		<textarea
			#textarea
			class="textarea"
			[style.height]="textareaHeight"
			(input)="onInputTextarea($event)"
		>{{ value }}</textarea>
	</div>
}