<div class="test-square">
	<!-- <input type="text" (focus)="onFocus($event)" (blur)="onBlur($event)" /> -->

	<!-- <div style="height:1000px"></div>

	<vg-input></vg-input>

	@for (output of outputs; track output) {
		<div class="output__text">{{ output }}</div>
	}

	<div style="height:1000px"></div> -->

	<input type="text" class="input-test" />

	<div
		[style.left.px]="testingWindow.x"
		[style.top.px]="testingWindow.y"
		[style.width.px]="testingWindow.width/2"
		[style.height.px]="testingWindow.height/2"
		class="testing-window"></div>

</div>